.cartItems {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: #111928a1;
  border: 1px solid rgba(255, 255, 255, 0.125);
  width: 100%;
  max-width: 800px;
  position: fixed;
  top: 15%;

  color: white;
  padding: 1rem;
}
.cartItems .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cartItems .overslide {
  overflow-y: scroll;
  height: 300px;
  scrollbar-color: #d4aa70 #e4e4e4;
  scrollbar-width: thin;
}
.cartItems .overslide::-webkit-scrollbar {
  width: 8px;
}

.cartItems .overslide::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
}

.cartItems .overslide::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background-image: linear-gradient(180deg, #d0368a 0%, #708ad4 99%);
  box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
}
.title .close-cart {
  padding: 0.4rem;
}
.cartItems .items {
  display: flex;
  /* row-gap: 1rem; */
  padding: 0.4rem;

  justify-content: space-between;
}
.cartItems .items .img-with-text {
  display: flex;
  /* flex-grow: 1; */
  column-gap: 0.5rem;
  font-weight: 700;
  align-items: center;
  width: 329px;
  margin-right: 0.7rem;
  justify-content: space-between;
}
.cartItems .items .img-with-text .cartimg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.cartItems .items .img-with-text .cartimg img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.cartItems .items .cross-count {
  display: flex;
  justify-content: space-between;
  flex-basis: 240px;
  align-items: center;
  /* margin-left: 0.7rem; */
}
.cartItems .items .cross-count .count-cart {
  display: flex;
  align-items: center;
  column-gap: 0.3rem;
}
.backdrop {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  top: 0;
  background-color: #000000a8;
}
.count-cart button {
  padding: 0.4rem;
  margin-right: 0.3rem;
  font-size: 20px;
}

.total-cart {
  width: 100%;
  font-size: 24px;
  background-color: rgba(40, 158, 40, 0.849);
  padding: 1rem;
  align-self: flex-end;
  text-align: center;
  margin-top: 1.5rem;
}
.del-cart-item {
  padding: 0.6rem;
}
